<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" >
    <nav class="flex-column" >
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span  aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Aboutme">
                <span  aria-hidden="true"></span> Sobre Mi
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Skills">
                <span aria-hidden="true"></span> Habilidades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Curriculum">
                <span aria-hidden="true"></span> Curriculum
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Portfolio">
                <span  aria-hidden="true"></span> Portafolio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Contact">
                <span aria-hidden="true"></span> Contacto
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}