@page "/Aboutme"

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <section  name="sobremi" class="sobremi">
        <div class="contenido-seccion">
            <MudText Style="font-family: 'Righteous'; text-align: center;padding: 20px;" Typo="Typo.h3">SOBRE MÍ</MudText>
            

            <MudText Typo="Typo.body2"><span>Hola, soy Juan Manuel Ramirez Hernandez.</span> Me gusta todo lo que tiene que ver con desarrollos ya sean web o escritorio. Soy una persona responsable y comprometida con mi trabajo, constantemente siempre estoy aprendiendo todo tipo de nuevas tecnologias y herramientas  para que mis habilidades mejoren.</MudText>
            <MudText Typo="Typo.body2" Style="margin-bottom:10px;"> Puedes ver algunos de mis proyectos realizados en la seccion de portafolio.</MudText>

            <div class="fila">
                <!-- datos personales -->
                <div class="col">
                    <MudText Typo="Typo.h6" Style="margin-bottom:10px;">Datos Personales</MudText>
                    <ul>
                        <li>
                            <MudText Typo="Typo.h6"><strong>Fecha de Nacimiento</strong></MudText>
                            <MudText Typo="Typo.body2">11-04-2000</MudText>
                        </li>
                        <li>
                            <MudText Typo="Typo.h6"><strong>Teléfono</strong></MudText>
                            <MudText Typo="Typo.body2">317 637 4276</MudText>
                        </li>
                        <li>
                            <MudText Typo="Typo.h6"><strong>Email</strong></MudText>
                            <MudText Typo="Typo.body2">juancho-_-11@hotmail.com</MudText>
                        </li>
                        <li>
                            <MudText Typo="Typo.h6"><strong>Pais/Ciudad</strong></MudText>
                            <MudText Typo="Typo.body2">Cartago, Valle Del Cauca, Colombia</MudText>
                        </li>

                    </ul>
                </div>

                <!-- intereses -->
                <div class="col">
                    <MudText Typo="Typo.h6" Style="margin-bottom:10px; margin-left:8px;">Intereses</MudText>
                    <div class="contenedor-intereses">
                        <div class="interes">
                            <i class="fa-solid fa-code"></i>
                            <span>DESARROLLO</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-gamepad"></i>
                            <span>JUEGOS</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-headphones"></i>
                            <span>MUSICA</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-plane"></i>
                            <span>VIAJAR</span>
                        </div>
                        <div  class="interes">
                            <i class="fa-solid fa-person-hiking"></i>
                            <span>DEPORTE</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-car"></i>
                            <span>AUTOS</span>
                        </div>

                    </div>
                </div>
            </div>
            <a href="https://drive.google.com/file/d/1tPR-5KKenIliwDkgszRL8T_nwtexYu10/view?usp=sharing" target="_blank"><button>
                Ver Y/O Descargar CV <i class="fa-solid fa-download"></i>
                <span class="overlay"></span>
            </button></a>
        </div>
    </section>
    <footer>
        <a href="aboutme" class="arriba">
            <i class="fa-solid fa-angles-up"></i>
        </a>
        <div class="redes">
            <a href="https://wa.me/573176374276" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/juanmanuelr753/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/JuanManuel753" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/juan-manuel-r-08885b128/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </footer>
</body>
</html>

