@page "/Contact"

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <section class="resume-section" id="contacto">
        <div class="resume-section-content">
            <MudText Typo="Typo.h3" Style="font-size: 48px; font-family: 'Righteous'; text-align: center; padding: 20px 0;">CONTÁCTAME!</MudText>
                    
            <ul class="fa-ul">
                <li>
                    <span class="fa-li"><MudIcon Icon="@Icons.Material.Rounded.Email" Color="Color.Info" Title="Email" /></span><p class="lead mb-5">Email: <a class="ml-2" href="mailto:juancho-_-11@hotmail.com" target="_blank">juancho-_-11@hotmail.com</a>
                    </p>
                </li>
                <li>
                    <span class="fa-li"><MudIcon Icon="@Icons.Custom.Brands.WhatsApp" Color="Color.Info" Title="WhatsApp"/></span><p class="lead mb-5">Whatsapp: <a class="ml-2" href="https://wa.me/573176374276" target="_blank">+57 3176374276</a>
                    </p>
                </li>
                <li>
                    <span class="fa-li"><MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Info" Title="LinkedIn"/></span><p class="lead mb-5" >LinkedIn: <a class="ml-2"  href="https://www.linkedin.com/in/juan-manuel-r-08885b128/" target="_blank">Juan Manuel Ramirez</a>
                    </p>
                </li>
            </ul>

            <MudText Typo="Typo.h6" Style="padding: 20px 0;">ESTE SITIO ESTA DESARROLLADO CON:</MudText>
            <img alt="BLAZOR WASM" src="https://img.shields.io/badge/BLAZOR%20WASM-%23563D7C.svg?style=for-the-badge&logo=Blazor&logoColor=white" />
            <img alt="HTML5" src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" />
            <img alt="MUDBLAZOR" src="https://img.shields.io/badge/MUDBLAZOR-%23563D7C.svg?style=for-the-badge&logo=MudBlazor&logoColor=white">
            <img alt="CSS3" src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white" />
            <img alt="Bootstrap" src="https://img.shields.io/badge/bootstrap-%23563D7C.svg?style=for-the-badge&logo=bootstrap&logoColor=white" />
        </div>
    </section>
    <footer>
        <a href="contact" class="arriba">
            <i class="fa-solid fa-angles-up"></i>
        </a>
        <div class="redes">
            <a href="https://wa.me/573176374276" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/juanmanuelr753/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/JuanManuel753" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/juan-manuel-r-08885b128/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </footer>
</body>
</html>