@page "/Curriculum"
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <section id="curriculum" class="curriculum">
        <div class="contenido-seccion">
            <MudText Typo="Typo.h6" Style="font-size: 48px; font-family: 'Righteous'; text-align: center; padding: 20px 0;">CURRICULUM</MudText>
            <div class="fila">
                <div class="col izquierda">
                    <MudText Typo="Typo.h6" Style="font-size: 28px; font-family: 'Righteous'; margin-bottom: 25px;">Educación</MudText>
                    <div class="item izq">
                        <span class="casa">SENA</span>
                        <span class="fecha">2020 - 2022</span>
                        <MudText Typo="Typo.body2" Style="margin-bottom:26px;">TECNÓLOGO EN ANÁLISIS Y DESARROLLO DE SISTEMAS DE INFORMACIÓN</MudText>
                        <a href="https://drive.google.com/file/d/1lXvBRGEf9U1KRLXjAQm-yVdGoitRww5X/view?usp=share_link" target="_blank"><button>
                            Certificado<i class="fa-solid fa-download"></i>
                            <span class="overlay"></span>
                        </button></a>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                    <div class="item izq">
                        <span class="casa">UDEMY</span>
                        <span class="fecha">18 HORAS</span>
                        <MudText Typo="Typo.body2">Programando en Blazor - ASP.NET Core</MudText>
                        <a href="https://drive.google.com/file/d/1tS-eAJNcow7FkAyiI6n-2y3aiEhn6K8s/view?usp=share_link" target="_blank"><button>
                            Certificado<i class="fa-solid fa-download"></i>
                            <span class="overlay"></span>
                        </button></a>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                    <div class="item izq">  
                        <span class="casa">SENA</span>
                        <span class="fecha">48 HORAS</span>
                        <MudText Typo="Typo.body2">APLICACION DEL MARCO DE TRABAJO SCRUM PARA PROYECTOS DE DESARROLLO DE SOFTWARE</MudText>
                        <a href="https://drive.google.com/file/d/1gi0uvUjKZAKocOROQsYKwckQsDuLTAXf/view?usp=share_link" target="_blank"><button>
                            Certificado<i class="fa-solid fa-download"></i>
                            <span class="overlay"></span>
                        </button></a>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                </div>

                <div class="col derecha">
                    <MudText Typo="Typo.h6" Style="font-size: 28px; font-family: 'Righteous'; margin-bottom: 25px;">Experiencia de trabajo</MudText>
                    <div class="item der">
                        <span class="casa">EMCARTAGO</span>
                        <span class="fecha">02-2022 - 08-2022</span>
                        <MudText Typo="Typo.body2" Style="margin-bottom:4px;">Desarrollo de distintos formularios web realizados en los siguientes lenguajes, Frameworks y librerías:</MudText>
                        <div class="subheading">
                            <img alt="HTML5" src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white">
                            <img alt="C SHARP" src="https://img.shields.io/badge/C%20Sharp-%23563D7C.svg?style=for-the-badge&logo=Csharp&logoColor=white">
                            <img alt="CSS3" src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white">
                            <img alt="JavaScript" src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E">
                            <img alt="SQL" src="https://img.shields.io/badge/SQL%20SERVER-%23563D7C.svg?style=for-the-badge&logo=entity%20framework&logoColor=white">
                            <img alt="ENTITY FRAMEWORK" src="https://img.shields.io/badge/ENTITY%20FRAMEWORK-%23563D7C.svg?style=for-the-badge&logo=entity%20framework&logoColor=white">
                            <img alt="BOOTSTRAP" src="https://img.shields.io/badge/BOOTSTRAP-%232671E5.svg?style=for-the-badge&logo=bootstrap&logoColor=white">
                            <img alt="BLAZOR WASM" src="https://img.shields.io/badge/BLAZOR%20WASM-%23563D7C.svg?style=for-the-badge&logo=Blazor&logoColor=white">
                            <img alt="MUDBLAZOR" src="https://img.shields.io/badge/MUDBLAZOR-%23563D7C.svg?style=for-the-badge&logo=MudBlazor&logoColor=white">
                            <img alt="VISUAL STUDIO" src="https://img.shields.io/badge/VISUAL%20STUDIO-563D7C.svg?style=for-the-badge&logo=visual%20studio&logoColor=white">
                        </div>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                    <div class="item der">
                        <span class="casa">PESAJE INTELIGENTE </span>
                        <span class="fecha">09-2022 - 11-2022</span>
                        <MudText Typo="Typo.body2" Style="margin-bottom:6px;">Desarrollo de componentes en visual studio escritorio realizados en los siguientes lenguajes, Frameworks y librerías:</MudText>
                        <div class="subheading">
                            <img alt="C SHARP" src="https://img.shields.io/badge/C%20Sharp-%23563D7C.svg?style=for-the-badge&logo=Csharp&logoColor=white">
                            <img alt="SQL" src="https://img.shields.io/badge/SQL%20SERVER-%23563D7C.svg?style=for-the-badge&logo=entity%20framework&logoColor=white">
                            <img alt="WINDOWS FORMS" src="https://img.shields.io/badge/Windows%20Forms-563D7C.svg?style=for-the-badge&logo=visual%20studio&logoColor=white">
                            <img alt="ENTITY FRAMEWORK" src="https://img.shields.io/badge/ENTITY%20FRAMEWORK-%23563D7C.svg?style=for-the-badge&logo=entity%20framework&logoColor=white">
                            <img alt="VISUAL STUDIO" src="https://img.shields.io/badge/VISUAL%20STUDIO-563D7C.svg?style=for-the-badge&logo=visual%20studio&logoColor=white">
                        </div>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<footer>
    <a href="Curriculum" class="arriba">
        <i class="fa-solid fa-angles-up"></i>
    </a>
    <div class="redes">
        <a href="https://wa.me/573176374276" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="https://www.instagram.com/juanmanuelr753/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://github.com/JuanManuel753" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/juan-manuel-r-08885b128/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
</footer>
</body>
</html>