@page "/Skills"

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
        <!-- SECCION SKILLS -->
    <section class="skills" id="skills">
        <div class="contenido-seccion">
             <MudText Typo="Typo.h3" Style="font-size: 48px; font-family: 'Righteous'; text-align: center; padding: 20px 0;">HABILIDADES</MudText>
            <div class="fila">
                <!-- Technical Skill -->
                <div class="col">
                    <MudText Typo="Typo.h6" Style="margin-bottom:8px;">LENGUAJES DE PROGRAMACIÓN</MudText>
                    <div class="subheading mb-3">
                        <p>
                        <img alt="HTML5" src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white">
                        <img alt="C SHARP" src="https://img.shields.io/badge/C%20Sharp-%23563D7C.svg?style=for-the-badge&logo=Csharp&logoColor=white">
                        <img alt="CSS3" src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white">
                        <img alt="JavaScript" src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E">
                        <img alt="SQL" src="https://img.shields.io/badge/SQL%20SERVER-%23563D7C.svg?style=for-the-badge&logo=entity%20framework&logoColor=white">
                        </p>
                        <MudText Typo="Typo.h6" Style="margin-bottom:8px;">FRAMEWORKS Y LIBRERÍAS</MudText>
                        <p>
                            <img alt="ENTITY FRAMEWORK" src="https://img.shields.io/badge/ENTITY%20FRAMEWORK-%23563D7C.svg?style=for-the-badge&logo=entity%20framework&logoColor=white">
                            <img alt="BOOTSTRAP" src="https://img.shields.io/badge/BOOTSTRAP-%232671E5.svg?style=for-the-badge&logo=bootstrap&logoColor=white">
                            <img alt="BLAZOR WASM" src="https://img.shields.io/badge/BLAZOR%20WASM-%23563D7C.svg?style=for-the-badge&logo=Blazor&logoColor=white">
                            <img alt="MUDBLAZOR" src="https://img.shields.io/badge/MUDBLAZOR-%23563D7C.svg?style=for-the-badge&logo=MudBlazor&logoColor=white">
                            <img alt="REACT" src="https://img.shields.io/badge/REACT--Aprendiendo-%232B2F33.svg?style=for-the-badge&logo=react&logoColor=%2361DAFB">
                            <img alt="WINDOWS FORMS" src="https://img.shields.io/badge/Windows%20Forms-563D7C.svg?style=for-the-badge&logo=visual%20studio&logoColor=white">
                        </p>
                        <MudText Typo="Typo.h6" Style="margin-bottom:8px;">SOFTWARE Y HERRAMIENTAS</MudText>
                        <p>
                            <img alt="VISUAL STUDIO" src="https://img.shields.io/badge/VISUAL%20STUDIO-563D7C.svg?style=for-the-badge&logo=visual%20studio&logoColor=white">
                            <img alt="VISUAL STUDIO CODE" src="https://img.shields.io/badge/Visual%20Studio%20Code-0078d7.svg?style=for-the-badge&logo=visual-studio-code&logoColor=white%22">
                        </p>
                    </div>
                </div>
                <!-- Professional Skills -->
                <div class="col">
                    <MudText Typo="Typo.h6" Style="margin-bottom:8px;">HABILIDADES PROFESIONALES</MudText>
                    <div class="subheading mb-3">
                        <p>
                            <img alt="COMUNICACION" src="https://img.shields.io/badge/Comunicacion-%23E34F26.svg?style=for-the-badge">
                            <img alt="TRABAJO EN EQUIPO" src="https://img.shields.io/badge/Trabajo%20En%20equipo-%23563D7C.svg?style=for-the-badge">
                            <img alt="DEDICACION" src="https://img.shields.io/badge/dediCACION-%231572B6.svg?style=for-the-badge">
                            <img alt="GESTION DE PROYECTOS" src="https://img.shields.io/badge/GESTION%20DE%20PROYECTOS-%232B2F33.svg?style=for-the-badge">
                            <img alt="CAPACIDAD DE ADAPTACION" src="https://img.shields.io/badge/CAPACIDAD%20DE%20ADAPTACION-%23E34F26.svg?style=for-the-badge">
                            <img alt="FLEXIBILIDAD PARA EL APRENDIZAJE" src="https://img.shields.io/badge/FLEXIBILIDAD%20PARA%20EL%20APRENDIZAJE-%23563D7C.svg?style=for-the-badge">
                        </p>
                        <!--Other SKills-->
                        <MudText Typo="Typo.h6" Style="margin-bottom:8px;">OTRAS HABILIDADES</MudText>
                         <p>
                            <img alt="WORD" src="https://img.shields.io/badge/microsoft%20word-%231572B6.svg?style=for-the-badge&logo=microsoft%20word&logoColor=white">
                            <img alt="EXCEL" src="https://img.shields.io/badge/microsoft%20excel-217346.svg?style=for-the-badge&logo=microsoft%20excel&logoColor=white">
                            <img alt="Photoshop" src="https://img.shields.io/badge/adobe%20photoshop-%2331A8FF.svg?style=for-the-badge&logo=adobe%20photoshop&logoColor=white">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <a href="Skills" class="arriba">
            <i class="fa-solid fa-angles-up"></i>
        </a>
        <div class="redes">
            <a href="https://wa.me/573176374276" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/juanmanuelr753/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/JuanManuel753" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/juan-manuel-r-08885b128/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </footer>
</body>
</html>
